/* GENERAL */
html{
    min-height: 100%;
    background: -webkit-linear-gradient(40deg, #0d0c52 , #ff8b8b);
} 

body {
    min-height: 100%;
    background: -webkit-linear-gradient(40deg, #0d0c52 , #ff8b8b);
    background-repeat: no-repeat;
}

.border-box{
    background-color: aliceblue;
    border-radius: 0.5em;
    padding: 0.2em;
    border: 1px solid antiquewhite;
}

.drawing-container{
    width: 100%;
    border: 1px solid gray;
    border-radius: 0.5em;
}

.btn{
    color: #fefeff;
    background: #0d160b;
}

.btn:hover{
    color: #fefeff;
    background: #191d18;
}

.btn-gray{
    background: #7e7e7e !important;
}

.btn-gray:hover{
    background: #8b8b8b !important;
}


/* LIVE-EXAM */
#live-exam{
    margin-top: 8%;
    margin-bottom: 8%;
    background: #fefeff;
    border-radius: 5px;
    padding: 2rem 3rem;
    width: 100%; 
}

#count-down{
    margin-top: 8%;
    margin-bottom: 8%;
    background: #fefeff;
    border-radius: 5px;
    padding: 2rem 3rem;
    width: 100%; 
}

#end{
    margin-top: 8%;
    margin-bottom: 8%;
    background: #fefeff;
    border-radius: 5px;
    padding: 2rem 3rem;
    width: 100%; 
}

#live-exam-nav{
    width: 167px;
    left: 0;
    bottom: 0;
    position: fixed;
    background: #fefeff;
    margin: 15px;
    border-radius: 10px;
    padding: 0.8rem;
}

.bt-submit{
    background-color: #0d0c52;
}

.bt-submit:hover{
    background-color: #32307a;
}

.border-left{
    margin-left: -5px;
    border-left: 1px solid rgb(205, 212, 216);
}

.pair-tile{
    color: #fff;
    background: #0d0c52ff;
    padding: 0.6rem;
    margin: 10px 0;
    font-weight: 500;
    border-radius: 8px;
}